body, ul, li{
    margin:0;
    list-style:none;
    padding:0;
}

a{
    color:inherit;
    text-decoration:none;
}


.wrap {
    background: bisque;
}

.logo {
    background: aquamarine;
}

.content-wrap {
    background: red;
    display: flex;
}

.side-menu {
    background: indianred;
    width:10%;
    height:800px;
    text-align: center;
}

.content {
    background: lightseagreen;
    width:90%;
}