<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="wrap">
    <div class="logo">logo</div>
    <div class="content-wrap">
        <div class="side-menu">
<!--            3. 템플릿에서 게시물 목록 출력-->
            <ul>
                <li th:each="post : ${postList}" th:text="${post.title}"></li>
            </ul>
        </div>
        <div class="content">
            <div>제목</div>
            <div>내용</div>
        </div>
    </div>
</div>
</body>
</html>