<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="wrap">
    <div class="logo">logo</div>
    <div class="content-wrap">
        <div class="side-menu">
<!--            3. 템플릿에서 게시물 목록 출력-->
            <ul>
                <li th:each="post : ${postList}" th:text="${post.title}"></li>
            </ul>
            <div>
                <form action="/write" method="post">
                    <input type="submit" value="추가">
                </form>
            </div>
        </div>
        <div class="content">
            <div>
                <input type="text" name="title" value="new title..">
            </div>
            <div>
                <textarea name="content" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>
</body>
</html>