<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="wrap">
    <div class="logo">logo</div>
    <div class="content-wrap">
        <div class="side-menu">
            <!--            3. 템플릿에서 게시물 목록 출력-->
            <ul>
                <li th:each="post : ${postList}">
                    <a th:href="@{|/detail/${post.id}|}" th:text="${post.title}"></a>
                </li>
            </ul>
            <div>
                <form action="/write" method="post">
                    <input type="submit" value="추가">
                </form>
            </div>
        </div>
        <div class="content">
            <form action="/update" method="post">
                <div>
                    <input type="hidden" name="id" th:value="${targetPost.id}">
                </div>
                <div>
                    <input type="text" name="title" th:value="${targetPost.title}">
                </div>
                <div>
                    <textarea name="content" cols="30" rows="10" th:text="${targetPost.content}"></textarea>
                </div>
                <div>
                    <input type="submit" value="수정">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>